#card {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffd248;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 3vw;
  padding-top: 3vw;
}
.subtitle {
  width: 70%;
  display: flex;
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  margin-top: 3vw;
}
ion-grid {
  padding-top: 5vw;
  padding-bottom: 5vw;
  border-bottom: 1px solid black;
}
ion-col {
  margin: auto;
}
ion-col img {
 width: 6vw;
 display: block;
 margin: auto;
}
.desc {
  width: 60%;
  text-align: center;
  font-size: 2vw;
  display: block;
  margin: auto;
}
.desc:last-child {
  width: 70%;
}
.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-bottom: 3vw;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.6vw;
  font-weight: bold;
  margin-top: 4vw;
  margin-bottom: 4vw;
}
.package-box {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #e4e4e4;
  padding-bottom: 2vw;
  margin-bottom: 2vw;
}
.package-1, .package-2, .package-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vw;
}
.package-img {
  width: 32vw;
  margin: 2vw;
}
.buy-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.radio-button {
  margin-right: 2vw;
  width: 2vw;
  height: 2vw;
}
.counter button {
  padding: 0.5vw;
}
.counter .count {
  display: flex;
  padding: 6px;
}
.display {
  margin-left: 2vw;
}
.checkout {
  background: #ffd248;
  width: 35vw;
  height: 5vw;
  font-size: 1.8vw;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}
.display {
  font-size: 2vw;
}
.total {
  font-size: 1.6vw;
}