<ion-content>
  <div id="card">
    <div class="section-1">
      <!-- TITLE -->
      <div class="subtitle">
        IKUTI LANGKAH BERIKUT UNTUK MEMBUAT TEMPAHAN
      </div>
      <!-- COL 1 : ICON -->
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="assets\icon\002-clicking.png" class="row-icon">
          </ion-col>
          <ion-col>
            <img src="assets\icon\001-edit.png" class="row-icon">
          </ion-col>
          <ion-col>
            <img src="assets\icon\003-email.png" class="row-icon">
          </ion-col>
        </ion-row>
        <!-- COL 2 : WORD -->
        <ion-row>
          <ion-col>
            <div class="desc">Buat pilihan dan jumlah</div>
          </ion-col>
          <ion-col>
            <div class="desc">Isi maklumat yang diperlukan</div>
          </ion-col>
          <ion-col>
            <div class="desc">Terima maklum balas melalui email</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="section-2">
      <div class="title">
        SILA BUAT PILIHAN
      </div>
      <div class="package-box">
        <!-- PACKAGE 1 -->
        <div class="package-1">
          <!-- Package Image -->
          <img src="assets\img\offer2.jpg" class="package-img">
          <div class="buy-menu">
            <!-- Radio Button -->
            <ion-radio value="package-1" class="radio-button"></ion-radio>
            <!-- Counter -->
            <div class="counter">
              <div class="minus"><button>-</button></div>
              <div class="count">1</div>
              <div class="add"><button>+</button></div>
            </div>
            <div class="display">RM 144</div>
          </div>
        </div>
        <!-- PACKAGE 2 -->
        <div class="package-2">
          <!-- Package Image -->
          <img src="assets\img\offer1.png" class="package-img">
          <div class="buy-menu">
            <!-- Radio Button -->
            <ion-radio value="package-2" class="radio-button"></ion-radio>
            <!-- Counter -->
            <div class="counter">
              <div class="minus"><button>-</button></div>
              <div class="count">1</div>
              <div class="add"><button>+</button></div>
            </div>
            <div class="display">RM 80</div>
          </div>
        </div>
        <!-- PACKAGE 2 -->
        <div class="package-3">
          <!-- Package Image -->
          <img src="assets\img\offer3.png" class="package-img">
          <div class="buy-menu">
            <!-- Radio Button -->
            <ion-radio value="package-3" class="radio-button"></ion-radio>
            <!-- Counter -->
            <div class="counter">
              <div class="minus"><button>-</button></div>
              <div class="count">1</div>
              <div class="add"><button>+</button></div>
            </div>
            <div class="display">RM 6</div>
          </div>
        </div>
        <div class="total">JUMLAH : RM 144</div> 
        <ion-button (click)="orderSummary()" class="checkout" color="warning">
          BELI SEKARANG
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
