#card {
  display: flex;
  flex-direction: column;

}
.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #e1d8d9;
  padding-top: 5vh;
}
.title {
  display: flex;
  text-align: center;
  font-size: 3.6vw;
  font-weight: bold;
  margin-top: 1vw;
  margin-bottom: 3vw;
}
.policy {
  width: 90%;
}
.policy ul {
  list-style: none
}
.policy ul li::before {
  content: "\2022";
  color: #eb2526;
  font-weight: bolder;
  display: inline-block; 
  width: 1em;
  margin-bottom: 1vw;
  font-size: 2vw;
}
.policy ul li {
  font-size: 1.6vw;
}
.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background: #e1d8d9;
}
.email {
  font-size: 1.2vw;
  text-align: center;
}
