<ion-header>  
  <ion-toolbar>  
    <ion-title mode='ios' color="light">Shipping Policy</ion-title>  
    <ion-buttons slot='end'>
      <ion-button color="light" (click)='dismiss()'>
        <ion-icon name='close-circle' style='margin-right: 1rem'></ion-icon> 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>  
<ion-content>
  <div id="card">
    <!-- SECTION 1 -->
    <div class="section-1">
      <!-- TITLE -->
      <div class="title">
        Shipping Policy
      </div>
      <!-- POLICIES -->
      <div class="policy">
        <ul>
          <li>Penghantaran akan dilakukan melalui Kurier.</li>
          <li>Dianggarkan produk sampai kepada pelanggang dalam masa 3 - 5 hari bekerja.</li>
          <li>Item yang dipesan akan diproses pada hari bekerja berikutnya.</li>
          <li>Sebarang kos penghantaran kerana pengembalian barang akan ditanggung oleh pelanggan.</li>
        </ul>
      </div>
    </div>
    <div class="section-2">
      <!-- EMAIL -->
      <div class="email">
        Sebarang pertanyaan sila hantarkan e-mel ke: <a routerLink="#">service.payangs@gmail.com</a>
      </div>
    </div>
  </div>
</ion-content>
