<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="card">
    <!-- SECTION 1 : INTRO -->
    <div class="section-1">
      <!-- HEADING -->
      <p class="heading">
        "KEROPOK IKAN 'BERKUALITI' DIJAMIN TIDAK PECAH & ROSAK MASA SAMPAI, PILIHAN NO1!"
      </p>
      <!-- SUBHEADING -->
      <p class="sub-heading">
        Seorang penduduk asal kampung pembuatan keropok terkenal di Kuala Terengganu ingin berkongsi 'kesedapan' keropok asli yang sebenar.
      </p>
      <!-- BANNER IMAGE -->
      <div class="banner">
        <div class="banner-video">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/uqO2il0AY9o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="banner-image">
          <img src="assets\img\banner2.png" alt="">
          <img src="assets\img\banner3.png" alt="">
          <img src="assets\img\banner4.png" alt="">
        </div>
      </div>
      <!-- SUBMIT BUTTON -->
      <div class="button">
        <button (click)="openOrderModal()" class="submit-button">HANTAR SEKARANG</button>
      </div>
      <!-- SPONSORS -->
      <div class="sponsor">
        <img src="assets\img\sponsor2.png" alt="" class="sponsor-img-1">
        <img src="assets\img\sponsor1.png" alt="" class="sponsor-img-2">
        <img src="assets\img\sponsor3.png" alt="" class="sponsor-img-3">
      </div>
    </div>
    <!-- SECTION 2 : FEEDBACKS -->
    <div class="section-2">
      <!-- MOHD RIZAM : USAHAWAN IT -->
      <div class="profile-1">
        <img src="assets\img\profile1.png" alt="" class="profile-img-1">
        <div class="comment">
          "Saya suka keropok kamu... Dan saya sudah mencuba banyak jenis keropok yang lain! Apa yang kamu jual ni sangat berkualiti! sangat-sangat berpuas hati..."
        </div>
        <div class="name">MOHD RIZAM</div>
        <div class="profession">USAHAWAN IT</div>
      </div>
      <!-- SUA AZALI : SURI RUMAH -->
      <div class="profile-2">
        <img src="assets\img\profile2.png" alt="" class="profile-img-2">
        <div class="comment">
          "Highly recommended. Sangat sedap rasanya! selalu makan dengan mee goreng dan nasi goreng. Pelengkap menu masakan saya.."
        </div>
        <div class="name">SUE AZALI</div>
        <div class="profession">SURI RUMAH</div>
      </div>
      <!-- ABD RAHMAN : PENIAGA KAIN -->
      <div class="profile-3">
        <img src="assets\img\profile3.png" alt="" class="profile-img-3">
        <div class="comment">
          "Bila nak layan movie atau buat kerja, keropok nilah jadi peneman. Memang best layan! Family pun suka sangat keropok ni..."
        </div>
        <div class="name">ABD RAHMAN</div>
        <div class="profession">PENIAGA KAIN</div>
      </div>
      <!-- ROZIDA : SURI RUMAH -->
      <div class="profile-4">
        <img src="assets\img\profile4.png" alt="" class="profile-img-4">
        <div class="comment">
          "Ada tetamu sampai rumah, keropok nilah mula-mula sekali kena goreng. Tak payah susah-susah keluar pergi membeli. Semua sukakanya. terbaik!"
        </div>
        <div class="name">ROZIDA</div>
        <div class="profession">SURI RUMAH</div>
      </div>
    </div>
    <!-- SECTION 3 : PROMO -->
    <div class="section-3">
      <!-- PROMOTION TITLE -->
      <div class="promo-heading">
          "KEMUNGKINAN KEROPOK INI ADALAH YANG PALING SEDAP PERNAH DIBUAT UNTUK ORANG RAMAI..."
      </div>
      <!-- PROMOTION BANNER -->
      <div class="promo-banner">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/9ygTS_OaKCE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <!-- PROMOTION -->
      <div class="promo">
        <div class="promo-title">
          Kepada penggemar keropok,
        </div>
        <div class="promo-desc">
          Jika anda ingin merasakan keropok rasa asli<br>
          dengan rasa isi ikan yang sebenar,<br> 
          ketebalan yang sempurna dan rangup, <br> 
          ini adalah keropok yang paling sedap anda akan rasa.
        </div>
        <div class="promo-desc">
          <span class="bold">Ini sebabnya: </span>Nama saya mohd rozi,<br> 
          berasal dari kampung seberang takir.<br>
          Seberang Takir merupakan sebuah perkampungan nelayan,<br>
          yang terletak berselebahan pinggir bandar Kuala Terengganu<br> 
          dan sepanjang pesisir Laut China Selatan.
        </div>
        <div class="promo-desc">
          Disini sangat terkenal dengan aktiviti<br> 
          pembuatan keropok dan pelbagai jenis<br>
          makanan yang berasaskan ikan dan laut kerana kedudukannya yang berdekatan dengan<br> pantai Laut China Selatan.
        </div>
        <div class="promo-image">
          <img src="assets\img\collage1.png" alt="" class="promo-img-1">
        </div>
        <div class="promo-desc">
          Untuk makluman, sebelum ini saya telah membuat kajian dan pemilihan keropok-keropok yang ada di sekitar<br>
          Kuala Terengganu untuk dijadikan cenderahati kepada<br>
          kenalan-kenalan jika saya menziarahi mereka...
        </div>
        <div class="promo-desc">
          Menjadikan keropok sebagai<br>
          cenderahati adalah satu budaya yang biasa bagi saya ketika mengujungi sanak saudara, kenalan, jiran tetangga dan sebagainya.. sebab itu saya perlu mencari<br>
          keropok yang terbaik!
        </div>
        <div class="promo-image">
          <img src="assets\img\pic10.png" alt="" class="promo-img-2">
        </div>
        <div class="promo-desc">
          Sepanjang pencarian ini, saya telah mencuba<br>
          pelbagai jenama keropok yang sedia ada dipasaran<br>
          dan juga termasuk yang namanya sudah dikenali ramai.<br>
          rasa setiapnya, tidak bersilih ganti dengan kesedapan dan keunikan masing-masing.
        </div>
        <div class="promo-image">
          <img src="assets\img\collage2.png" alt="" class="promo-img-3">
        </div>
        <div class="promo-desc">
          Setelah merasa sendiri rasa keropok-keropok<br>
          tersebut, akhirnya saya menjumpai satu yang sedap<br>
          diantara yang lain. Rasanya sangat sedap dan<br>
          memenuhi kriteria keropok asli.
        </div>
        <div class="promo-desc">
          Bukan sahaja saya sahaja sendiri merasakan demikian, malahan juga daripada kenalan-kenalan<br>
          yang telah rasa sendiri keropok ini yang<br>
          diterima sebagai cenderahati daripada saya.
        </div>
      </div>
    </div>
    <!-- SECTION 4 : KELEBIHAN KEROPOK -->
    <div class="section-4">
      <!-- Image Collage -->
      <div class="promo-image">
        <img src="assets\img\collage3.png" alt="">
      </div>
      <div class="promo-desc-pointlist">
        <ul>
          <li>Ianya diperbuat daripada ikan tamban.</li>
          <li>Rasa ikan yang cukup membuatkan anda semakin berselera.</li>
          <li>Ketebalannya tidak terlalu tebal dan tidak terlalu nipis.</li>
          <li>Ia sesuai untuk dimakan oleh golongan kanak-kanak, orang muda dan juga orang dah berusia.</li>
          <li>Digoreng dengan api yang perlahan dan masukkan ketika minyak betul-betul panas. Sepastinya keranggupannya sangat best.</li>
        </ul>
      </div>
      <div class="promo-list-title">
        Keropok keping ini juga boleh :
      </div>
      <div class="promo-desc-numlist">
        <ol>
          <li>Dijadikan hidangan keluarga </li>
          <li>Dijadikan hadiah atau buah tangan </li>
          <li>Santapan sambil buat kerja di pejabat atau rumah</li>
          <li>Sajian untuk majlis-majlis tertentu</li>
          <li>Peniaga kedai makan</li>
          <li>Sajian ketika beriadah</li>
        </ol>
        <div class="promo-desc">
          Disebabkan itu, ramai yang berhasrat untuk membeli keropok yang saya hadiahkan itu untuk dijadikan hidangan dan hadiah kepada tetamu.
        </div>
      </div>
    </div>
    <!-- SECTION 5 : KELEBIHAN KEROPOK -->
    <div class="section-5">
      <div class="promo-title">
        Jadi saya mengambil langkah untuk turut menjual keropok ini!
      </div>
      <div class="promo-desc">
        Perniagaan keropok ini adalah<br>
        secara tradisional dan hanya beroperasi<br>
        dikawasan sekitar, saya ingin berkongsi keenakan<br>
        keropok keping ini dengan semua penggemar keropok<br> 
        di Malaysia!
      </div>
      <div class="promo-desc">
        Jadi sekarang, sudah ramai yang mulai dapat<br>
        merasakan keropok ikan ini. Mari kita lihat apa kata mereka<br>
        yang telah mencubanya.
      </div>
      <div class="promo-image">
        <img src="assets\img\feedback.png" alt="" class="promo-img-5">
      </div>
    </div>
    <!-- SECTION 6 : PACKAGING KEROPOK -->
    <div class="section-6">
      <div class="promo-title">
        Namun,<br>
        rata-rata pembeli resah dengan masalah<br>
        keropok yang pecah ketika penghantaran,<br>
        membuatkan ramai yang risau untuk membeli.
      </div>
      <div class="promo-desc">
        Jangan risau, masalah diatas telah diselesaikan,<br>
        dengan melakukan cara packaging yang selamat.<br>
        Saya membina kerangka didalam kotak bagi mengelakkan<br>
        keropok itu bergerak dan berhimpit satu sama lain.
      </div>
      <div class="promo-desc">
        Ditambah juga dengan lapisan bubble wrap dibahagian<br>
        atas dan bawah didalam kotak bagi melindungi keropok,<br>
        tersebut.
      </div>
      <div class="promo-desc">
        Anda boleh lihat bagaimana packaging dilakukan<br>
        didalam video diatas.
      </div>
      <div class="promo-image">
        <img src="assets\img\packaging.png" alt="" class="promo-img-6">
      </div>
    </div>
    <!-- SECTION 7 : SATISFACTION GUARANTEE -->
    <div class="section-7">
      <div class="promo-image">
        <img src="assets\img\satisfaction.png" alt="" class="img-1">
      </div>
      <div class="satisfaction-desc">
        <div class="promo-desc">
          "Keropok ini betul-betul berkualiti".
        </div>
        <div class="promo-desc">
          Setiap keropok telah diteliti secara menyeluruh sebelum dihantar kepada semua pelanggan.
        </div>
        <div class="promo-desc">
          Namun, jika terdapat kerosakan setelah anda menerimanya, anda boleh menghantar e-mel kepada kami dan kami dengan senang hati akan menghantar keropok yang baru untuk anda.
        </div>
        <div class="promo-desc">
          Pihak customer servis sedia membantu sekiranya terdapat sebarang masalah demi menjaga kepuasan pelanggan.
        </div>
        <div class="promo-desc">
          Saya cuba pastikan setiap pelanggan berpuas hati 110% pada setiap aspek.
        </div>
      </div>
    </div>
    <!-- SECTION 8 : OFFER KEROPOK -->
    <div class="section-8">
      <div class="offer-title">
        TAWARAN ISTIMEWA <br> KEROPOK IKAN ! 
      </div>
      <div class="offer">
        <a href="#"><img src="assets\img\offer1.png" alt="" class="offer-img-1"></a>
        <!-- <button class="order-button">ORDER NOW</button> -->
      </div>
      <div class="offer">
        <a href="#"><img src="assets\img\offer2.jpg" alt="" class="offer-img-1"></a>
        <!-- <button class="order-button">ORDER NOW</button> -->
      </div>
      <div class="offer">
        <a href="#"><img src="assets\img\offer3.png" alt="" class="offer-img-1"></a>
        <!-- <button class="order-button">ORDER NOW</button> -->
      </div>
    </div>
    <!-- SECTION 9 : CUSTOMER REVIEW -->
    <div class="section-9">
      <div class="title-customer-review">
        CUSTOMER REVIEW
      </div>
      <div class="image-customer-review">
        <img src="assets\img\customerreview.png" alt="" class="customer-review">
      </div>
    </div>
    <!-- SECTION 10 : FAQ -->
    <div class="section-10">
      <div class="title-faq">
        FAQ
      </div>
      <div class="list-faq">
        <ol>
          <!-- Q1 -->
          <li>Berapa lama masa diambil untuk order sampai?</li>
            <div class="faq-answer">
              Biasanya, setelah pesanan dibuat, kami akan menghantar barang anda pada hari bekerja berikutnya, dan akan sampai kepada anda dalam masa 3 hingga 5 hari bekerja.
            </div>
            <!-- Q2 -->
          <li>Macam mana untuk semak status order?</li>
            <div class="faq-answer">
              Setelah pesanan selesai, anda akan menerima e-mel yang mengesahkan pesanan anda.
              Anda juga akan menerima pengesahan penghantaran dan nombor penjejakan melalui e-mel setelah pakej anda disiapkan untuk penghantaran.
              Sekiranya anda mempunyai pertanyaan mengenai status pesanan anda atau tidak menerima e-mel, sila hubungi kami kembali.
            </div>
            <!-- Q3 -->
          <li>Di mana anda berada? Dari mana anda menghantar?</li>
            <div class="faq-answer">
              Kami berpusat di Kuala Terengganu.
              Semua pesanan dihantar terus dari pejabat kami di Kuala Terengganu.
            </div>
            <!-- Q4 -->
          <li>Bagaimana cara menyimpan keropok saya dengan betul?</li>
            <div class="faq-answer">
              Kami mengesyorkan anda memasukkan keropok anda ke dalam bekas kedap udara untuk melidungi dari hilang keranggupannya.
            </div>
            <!-- Q5 -->
          <li>Bagaimana jika keropok saya mengalami kecacatan setelah saya menerimanya?</li>
            <div class="faq-answer">
              Setiap keropok telah diuji secara menyeluruhdan teliti sebelum dihantar kepada semua pelanggan kami.
              Tetapi, jika terdapat kecacatan pada keropok kami setelah anda menerimanya, anda boleh menghantar e-mel kepada kami dan kami dengan senang hati akan menghantar keropok yang baru untuk anda.
            </div>
        </ol>
      </div>
    </div>
    <footer>
      <div class="logo">
        <img src="assets\img\logopayang.png" alt="" class="logo-img">
      </div>
      <div class="footer-menu">
        <ul>
          <li><a href="#">service.payangs@gmail.com</a></li>
          <li><a (click)="openShippingPolicyModal()">Shipping Policy</a></li>
          <li><a (click)="openRefundPolicyModal()">Refund Policy</a></li>
        </ul>
      </div>
    </footer>
  </div>
</ion-content>
