<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Keropok Payang</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="card">
    <div class="card-head">
      <img src="assets/img/keropok.png">
    </div>
    <div class="card-body">
      <!-- INTRO KEROPOK -->
      <p class="heading">
        KEROPOK KEPING DIJAMIN TIDAK PECAH MASA SAMPAI, PILIHAN NO 1 
      </p>
      <!-- TEXT SET 1-->
      <p class="text">
        Masalah keropok yang sering pecah ketika penghantaran, membuatkan ramai yang rungsing untuk membeli.
      </p>
      <p class="text">
        Oleh kerana teksturnya yang sudah hancur,ia mengecewakan ramai pihak walaupun rasa keropok itu sedap.
      </p>
      <p class="text">
        Ini menjadi ketakutan utama bagi penggemar keropok keping.
      </p>
      <p class="text">
        Disini saya telah menyelesaikan masalah diatas dengan melakukan pembungkusan dengan cara yang selamat daripada pecah. Boleh tengok video di bawah.
      </p>
      <p class="text">
        Proses packaging keropok keping yang selamat dari pecah...
      </p>
      <!-- KEROPOK INTRO VIDEO -->
      <div class="video">
        <iframe src="https://www.youtube-nocookie.com/embed/9ygTS_OaKCE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <!-- ASAL KEROPOK TAKIR -->
      <p class="heading">
        Asal keropok dari Seberang takir 
      </p>
      <!-- TEXT SET 2 -->
      <p class="text">
        Seberang Takir merupakan sebuah perkampungan nelayan, yang terletak bersebelahan pinggir bandar Kuala Terengganu dan sepanjang pesisir Laut China Selatan.
      </p>
      <p class="text">
        Jika anda berada di Pasar Payang dan Bazar Warisan perkampungan jelas kelihatan tidak jauh dari situ. 
      </p>
      <!-- Keropok Gallery -->
      <div class="gallery">
        <div class="col-1">
          <img src="assets\img\pic1.png">
        </div>
        <div class="col-2">
          <img src="assets\img\pic2.png">
        </div>
        <div class="col-3">
          <img src="assets\img\pic3.png">
        </div>
        <div class="col-4">
          <img src="assets\img\pic4.png">
        </div>
      </div>
      <!--  -->
    </div>
  </div>
</ion-content>
