#card {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
// SECTION 1 START
.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #787272;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 40px;
  padding-top: 40px;
}
.heading {
  display: flex;
  width: 80%;
  text-align: center;
  font-size: 3.6vw;
  color: #eee8e8;
  font-weight: bold;
}
.sub-heading {
  display: flex;
  width: 70%;
  text-align: center;
  font-size: 1.8vw;
  color: #eee8e8;
  margin-bottom: 2vw;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.banner-video iframe{
  width: 50vw;
  height: 30vw;
}
.banner-image {
  display: flex;
  padding-top: 1vw;
}
.banner-image img {
  width: 12vw;
  display: flex;
}
.submit-button {
  background: #eb2526;
  color: #eee8e8;
  width: 28vw;
  height: 5vw;
  border-radius: 10px;
  font-size: 1.8vw;
  font-weight: bold;
  margin-top: 4vw;
}
.sponsor {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 4vw;
  margin-bottom: 10vw;
}
.sponsor img {
  width: 10vw;
}
.sponsor-img-1 {
  margin-right: 6vw;
}
.sponsor-img-3 {
  margin-left: 6vw;
}
// SECTION 1 END
// ******************************************
// SECTION 2 START
.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 4vw;
  padding-bottom: 8vw;
  background: #e1d8d9;
}
.profile-1, .profile-2, .profile-3, .profile-4 {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
}
.profile-img-1, .profile-img-2, .profile-img-3, .profile-img-4 {
  display: flex;
  width: 10vw;
  margin-bottom: 2vw;
  margin-top: 6vw;
}
.comment {
  display: flex;
  font-size: 1.8vw;
  width: 50%;
  margin-bottom: 2vw;
  word-wrap: break-word;
  text-align: center;
}
.name {
  display: flex;
  font-size: 1.4vw;
  color: #eb2526;
  font-weight: bold;
  margin-bottom: 1vw;
}
.profession {
  display: flex;
  font-size: 1.2vw;
  font-weight: bold;
  font-style: italic;
}
// SECTION END
// ******************************************
// SECTION START
.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 4vw;
  padding-bottom: 4vw;
  background: white;
}
.promo-heading {
  display: flex;
  font-size: 2.2vw;
  width: 65%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2vw;
}
.promo-img {
  width: 48vw;
  margin-top: 1vw;
  margin-bottom: 4vw;
}
.promo {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.promo-title {
  font-size: 2.6vw;
  font-weight: bold;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.promo-desc {
  font-size: 2vw;
  margin-bottom: 40px;
  line-height: 3.2vw;
}
.bold {
  font-weight: bold;
}
.promo-banner iframe {
  width: 50vw;
  height: 30vw;
}
.section-3 .promo-image {
  display: flex;
  justify-content: center;
}
.promo-img-1  {
  width: 70vw;
}
.promo-img-2 {
  width: 40vw;
}
.promo-img-3 {
  width: 60vw;
}
// SECTION 3 END
// *************************************
// SECTION 4 START
.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 4vw;
  padding-bottom: 4vw;
  background: #e1d8d9;
}
.section-4 .promo-image img{
  width: 60vw;
}
.promo-video iframe {
  width: 30vw;
  height: 20vw;
  padding: 10px;
}
.promo-desc-pointlist {
  font-size: 2vw;
  width: 70%;
  line-height: 3.4vw;
}
.promo-desc-pointlist ul {
  list-style: none;
}
.promo-desc-pointlist ul li::before {
  content: "\2022";
  color: #eb2526;
  font-weight: bolder;
  display: inline-block; 
  width: 1em;
  margin-left: -2em;
}
.promo-list-title {
  display: flex;
  justify-content: left !important;
  align-items: center;
  font-size: 2.6vw;
  font-weight: bold;
  margin-top: 3vw;
}
.promo-desc-numlist {
  font-size: 2vw;
  width: 80%;
  line-height: 3.4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.promo-desc-numlist > .promo-desc{
  width: 80%;
  margin-top: 4vw;
}
// SECTION 4 END
// *************************************
// SECTION 5 START
.section-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 4vw;
  padding-bottom: 4vw;
  background: #ffffff;
}
.section-5 .promo-title {
  width: 80%;
}
.section-5 .promo-desc {
  width: 80%;
}
.promo-img-5 {
  width: 60vw;
}
// SECTION 5 END
// *************************************
// SECTION 6 START
.section-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 4vw;
  padding-bottom: 4vw;
  background: #f1edec;
}
.section-6 .promo-title {
  width: 80%;
}
.section-6 .promo-desc {
  width: 80%;
}
.promo-img-6 {
  width: 60vw;
}
// SECTION 6 END
// *************************************
// SECTION 7 START
.section-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 4vw;
  padding-bottom: 4vw;
  background: #fff199;
}
.img-1 {
  width: 60vw;
}
.section-7 .satisfaction-desc {
  width: 50%;
}
// SECTION 8 END
// *************************************
// SECTION 9 START
.section-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 4vw;
  padding-bottom: 4vw;
  background: #ffffff;
}
.offer-title {
  font-size: 4vw;
  font-weight: bold;
  margin-top: 2vw;
  margin-bottom: 2vw;
  text-align: left;
  width: 70%;
}
.offer img {
  width: 50vw;
  margin-bottom: 4vw;
}
.order-button {
  width: 14vw;
  height:4vw;
  border-radius: 5px;
  background: #662f1a;
  color: white;
}
// SECTION 8 END
// *************************************
// SECTION 9 START
.section-9 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 4vw;
  padding-bottom: 4vw;
  background: #f2f2f2;
}
.title-customer-review {
  width: 80%;
  font-size: 3.6vw;
  font-weight: bold;
  margin-top: 2vw;
  margin-bottom: 6vw;
}
.image-customer-review {
  width: 60vw;
}
// SECTION 9 END
// *************************************
// SECTION 10 START
.section-10 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 4vw;
  padding-bottom: 4vw;
  background: #b9babc;
  width: 100%;
}
.title-faq {
  width: 80%;
  font-size: 3.6vw;
  font-weight: bold;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
.list-faq {
  display: flex;
  width: 90%;
  justify-content: center;
}
.list-faq ol li {
  // line-height: 3vw;
  font-size: 2vw;
  margin-top: 2vw;
  margin-bottom: 0.5vw;
  font-weight: bold;
}
.faq-answer {
  font-size: 2vw;
}
// SECTION 10 END
// *************************************
// FOOTER START
footer {
  background: #f1f1f1;
  display: flex;
}
.logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  padding: 4vw;
}
.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-menu ul {
  list-style: none;
}
.footer-menu ul li{
  padding: 1vw;
}
.footer-menu ul li a{
  text-decoration: none;
  color: black;
  font-size: 1.4vw;
}