<ion-header>  
  <ion-toolbar>  
    <ion-title mode='ios' color="light">Refund Policy</ion-title>  
    <ion-buttons slot='end'>
      <ion-button color="light" (click)='dismiss()'>
        <ion-icon name='close-circle' style='margin-right: 1rem'></ion-icon> 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>  
</ion-header> 
<ion-content>
  <div id="card">
    <!-- SECTION 1 -->
    <div class="section-1">
      <!-- TITLE -->
      <div class="title">
        Refund Policy
      </div>
      <!-- POLICIES -->
      <div class="policy">
        <!-- Paragraph 1 -->
        <div class="sub-title">
          Pemulangan Balik
        </div>
        <div class="desc">
          <p>
            Polisi kami sepanjang  30 hari. Selepas daripada 30 hari dari tarikh pembelian anda,kami tidak dapat memberikan pengembalian wang atau pertukaran produk kepada anda.
          </p>
          <p>
            Kelayakan untuk mendapat pengembalian, produk mesti tidak digunakan dan 
            dalam keadaan yang sama dengan anda terima. Ia juga mestilah dalam bungkusan asal.
          </p>
          <p>
            Untuk menyelesaikan pengembalian anda, kami memerlukan resit atau bukti pembelian.
          </p>
          <p>
            Setelah pengembalian produk anda diterima dan diperiksa, kami akan menghantar e-mel 
            kepada anda untuk memberitahu anda bahawa kami telah menerima barang 
            yang anda kembalikan. Kami juga akan memberitahu anda mengenai 
            kelulusan bayaran balik  anda. Sekiranya diluluskan, pembayaran balik anda akan diproses, 
            dan akan dimasukkan ke dalam akaun anda dalam beberapa hari.
          </p>
        </div>
        <!-- Paragraph 2 -->
        <div class="sub-title">
          Bayaran balik lewat atau hilang (jika ada)
        </div>
        <div class="desc">
          <p>
            Sekiranya anda belum menerima bayaran balik, periksa dahulu akaun bank anda.
            Seterusnya hubungi bank anda,mungkin memerlukan sedikit masa sebelum 
            bayaran balik masuk secara rasmi.
          </p>
          <p>    
            Selalunya akan ada masa pemprosesan sebelum bayaran balik dimasukkan.
            Sekiranya anda telah melakukan semua ini dan anda masih belum menerima bayaran balik, 
            sila hubungi kami di <a>service.payangs@gmail.com</a>.
          </p>
        </div>
        <!-- Paragraph 3 -->
        <div class="sub-title">
          Penghantaran
        </div>
        <div class="desc">
          <p>
            Untuk mengembalikan produk anda, anda harus menghantar produk anda ke: 
            Payangs Ecommerce Global
            No 29, PPRT Telaga Daing Seberang Takir, 21300 Kuala Terengganu,Terengganu.
          </p>
          <p>
            Anda  bertanggungjawab untuk membayar kos penghantaran anda sendiri untuk 
            mengembalikan barang anda. Kos penghantaran tidak akan dikembalikan.
          </p>
          <p>
            Bergantung pada tempat anda tinggal, masa yang diperlukan untuk produk yang ditukar 
            sampai kepada anda, mungkin berbeza.
          </p>
          <p>
            Anda harus mempertimbangkan untuk menggunakan perkhidmatan penghantaran 
            yang dapat menghantar pengembalian produk kepada kami.
          </p>
        </div>
      </div>
    </div>
    <div class="section-2">
      </div>
    </div>
</ion-content>
