#card {
  display: flex;
  flex-direction: column;
}
.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #e1d8d9;
  padding-top: 5vh;
}
.policy {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.title {
  display: flex;
  text-align: center;
  font-size: 3.6vw;
  font-weight: bold;
  margin-top: 1vw;
  margin-bottom: 3vw;
}
.sub-title {
  font-size: 2vw;
  font-weight: bold;
  width: 85%;
}
.desc {
  font-size: 1.4vw;
  width: 85%;
  margin-bottom: 4vw;
}
.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vh;
  background: #e1d8d9;
}