#card {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #e1d8d9;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 40px;
  padding-top: 40px;
}
.title {
  display: flex;
  text-align: center;
  font-size: 3.6vw;
  font-weight: bold;
  margin-top: 3vw;
  margin-bottom: 3vw;
}
.sub-title {
  font-size: 3vw;
  font-weight: bold;
}
.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background: #e1d8d9;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}